# MAC files
*.source*
*.index*
*_h.*
*._.*
*/._*
._*
.DS_Store
*.DS_Store
**/._README.md
._README.md
.snakemake
*.snakemake
slurm-*
**/logs/*
emappertmp**
emappertmp*
*emappertmp*
logs*
**/snakemake_envs/**
snakemake_envs/**
snakemake_envs
status/*
*status

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PHIST install files
.0
.1
.10
.11
.12
.13
.14
.15
.16
.17
.18
.19
.2
.20
.21
.22
.23
.24
.25
.26
.27
.28
.29
.3
.30
.31
.4
.5
.6
.7
.8
.9

README_files/
README.html